body{
    min-height: 100%;
    height: 100%;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.wrapper{
    width: 400px;
    height: 450px;
    margin: auto;
}

.header{
    height: 100px;
    background-color: #141f40;
}

.h-box-right, .h-box-center, .h-box-left{
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    border: solid 10px #ffffff;
    background-color: #a9004b;
}

.h-box-center{
    border-left: none;
    border-right: none;
}

.left{
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}

.right{
    float: left;
    height: 250px;
    width: 250px;
    background-color: #8c2727;
}

.r-box-up, .r-box-center, .r-box-under{
    position: relative; 
    top: 40px;
    left: 40px;
    box-sizing: content-box;
    height: 40px;
    width: 140px;
    border: solid 5px #ffffff;
    background-color: #ff863f;
}

.r-box-center{
   margin: 10px 0;
}

.fotter{
    height: 100px;
    background-color: #d98d30;
}



